

body {
    background-color: #1d267d;
    /*background-image: "cloud.png";*/
    text-align: center;
    height: 100vw;
}

header {
    font-family: "Monoton", cursive;
    font-size: 60px;
    font-weight: normal;
    color: lightgreen;
    text-align: left;
}

header img {
    width: 90px;
    margin: 0;
}

.outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    place-content: center;
}

#container {
    width: 60%;
    /*width: 800px;*/
    height: 300px;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    background-color: #5C469C;
    margin: 80px auto 0;
    border-radius: 15px;
    padding: 20px 10px 0 10px;
    /*justify-content: center;*/
    /*box-sizing: content-box;*/
}

#container-header {
    height: 20%;
    width: 100%;
    /*padding: 0;*/
    /*margin: 0;*/
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    box-sizing: content-box;
    border-radius: 20px;
    background-color: #D4ADFC;

}

#converter {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}

#section-center {
    margin-left: 20px;
}

#entry-div {
    width: 40%;
    height: 80%;
    background-color: #D4ADFC;
    border-radius: 15px;
    resize: none;
    padding: 5px;
    margin: 0;
    font-size: 40px;
    margin-top: 20px;
    position: relative;
}

#microphone-button {
    padding: 0;
    border: 0;
    margin: 0;
    height: 50px;
    border-radius: 1px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: #D4ADFC;
}

#microphone {
    width: 30px;
    padding: 0;
    margin: 0;
}

#entry, #result {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 13px;
    background-color: #D4ADFC;
    resize: none;
    font-size: 20px;
}

#conv-div {
    width: fit-content;
    height: 50px;
    margin: 0;
    align-self: center;
    justify-self: center;
    padding: 0;
    border: 0;
}

#convert-button {
    padding: 0;
    border: 0;
    margin: 0;
    height: 50px;
    border-radius: 18px;
}

#convert-icon {
    width: 50px;
    padding: 0;
    margin: 0;
}

#result-div {
    width: 40%;
    height: 80%;
    /*background-color: #cecefe;*/
    background-color: #D4ADFC;
    border-radius: 15px;
    resize: none;
    padding: 5px;
    font-size: 40px;
    margin: 20px 0 0;
    position: relative;
}

#copy-button {
    padding: 0;
    border: 0;
    margin: 0;
    height: 50px;
    border-radius: 1px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #D4ADFC;
}

#copy {
    width: 30px;
    padding: 0;
    margin: 0;

}

#explain-button {
    padding: 0;
    border: 0;
    margin: 0;
    height: 50px;
    border-radius: 1px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: #D4ADFC;
}

#explain {
    width: 30px;
    padding: 0;
    margin: 0;
}


/* Phone screen portrait */
@media screen and (min-width: 230px) and (orientation: portrait){
    #container{
        margin-top: 750px;
        scale: 1.5;
    }
}